body {
  font-family: Arial, sans-serif;
  margin: 0; /* Supprime la marge par défaut du corps */
  overflow: hidden;
}

#map {
  width: 100%;
  height: 100vh;
  margin-bottom: 1em;
}

/* Style par défaut pour les écrans plus larges */
#distance-container {
  position: absolute; /* ou 'fixed' selon votre disposition actuelle */
    top: 10px; /* Distance du haut */
    left: 10px; /* Distance du côté gauche */
    max-width: 300px; /* Largeur maximale du conteneur */
    min-height: 100px; /* Hauteur minimale, ajustez selon le contenu */
    z-index: 5; /* S'assure qu'il se trouve au-dessus des autres éléments */
    padding: 10px; /* Espace interne pour le contenu */
    background-color: rgba(255, 255, 255, 0.9); /* Couleur d'arrière-plan avec transparence */
    border-radius: 5px; /* Bords arrondis */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); /* Ombre pour un aspect en relief */
    overflow: auto; /* Ajoute des barres de défilement si nécessaire */
    /* Ajoutez d'autres styles comme border, font-size, etc. selon vos besoins */
  /*position: absolute;
  top: 10px;  Ajustez selon vos besoins 
  right: 10px;
  z-index: 5; /* S'assure qu'il se trouve au-dessus de la carte */
  /* Autres styles... */
}

/* Style pour les écrans plus petits */
@media screen and (max-width: 600px) {
  #distance-container {
      top: auto;
      bottom: 10px; /* Positionne le conteneur en bas pour les petits écrans */
      right: 10px;
      width: calc(100% - 20px); /* Pleine largeur moins une marge */
  }
}


.form-control {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.form-control label {
  flex: 1;
}

.form-control input,
.form-control div {
  flex: 2;
  padding: 0.5em;
}

.bottom-section {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 10px;
  padding: 5px;
  font-family: Roboto, sans-serif;
  font-size: large;
  font-weight: bold;
}


.bottom-section > div {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1em;
  box-sizing: border-box;
}

.bottom-section ul {
  list-style: none;
  padding: 0;
}

.bottom-section li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

#loadingCircle {
  width: 100px;
  height: 100px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 4s linear infinite;
}

@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}


/* detailsPage.css
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h1 {
  color: #333;
  font-size: 24px;
}

h2 {
  color: #555;
  font-size: 20px;
  margin-top: 10px;
}

p {
  color: #777;
  font-size: 16px;
}

strong {
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  margin-top: 10px;
}*/
